
<main class="container-flow">
    
        <div class="title">
            <img src="../../assets/logo.jpg" alt="logo" class="logo">
          <strong>Sri Bhaskar Nursery</strong>
   
        </div>
        <div class="contact">
        <b>Kadiyam Nursery We are available 24/7 via telephone.
            You can also use a quick contact form on the right or visit our
             office personally. We would be happy to answer your questions..</b>
   <div class="adhress">
    <ul>
        <li><mat-icon>home</mat-icon>
       <i> Madiki, main Road  NH-16, 
       <p>East Godavari A.P - 533126</p> 
       </i>
    </li>
    <li><mat-icon>phone</mat-icon>
        <i> 9885533297
        </i>
     </li>
     <li><mat-icon>email</mat-icon>
        <i> sribhaskarnursery@gmail.com
        </i>
     </li>
</ul>

   </div>
   
   
            </div>
    
    
      
</main>